@import "tailwindcss";

@theme {
  --color-cream: #fdfcf8;
  --color-olive: #43523d;
  --color-charcoal: #232322;
}

@theme inline {
  --font-display: var(--font-bootleg-sans);
  --font-heading: var(--font-serious-sans-bold);
  --font-body: var(--font-serious-sans);
}

.font-heading {
  text-transform: uppercase;
}
